@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo.jpg);
    background-size: cover;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(162, 103, 105);
    color: white;

}
h1.logo{
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    padding: 20px;
}
a{
    color:white !important;
}
footer {
    width: 100vw;
    padding: 0 20px;
    position: fixed;
    background-color:rgb(162, 103, 105);
    color: white;
    bottom: 0;
    left: 0;
}